label{
    display: inline-block;
    margin: 10px 0;
}
input{
    border: 1px solid #ccc;
    border-radius: 2px ;
    display:block;
    padding: 10px;
    font-size: 16px;
    width: 100%;

}
.btn{
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}